    html{
    background-color: lightgray;
    }
    h1{
        color: darkred;
    }
    h3{
        color: darkred;
    }
    .countryname{
        font-weight: bold;
        color: darkred;
    }
    .countryInfo{
        list-style-type: none;
    }
    
    .keyName{
        font-weight: bold;
    }
    
    #country{
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .container{
        background-color: darkred;
        color: lightgray;
    }